@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	}
body {
	background: linear-gradient(#111111, #ffffff);
	}

header { 
	width: 100%;
	height: auto;
	background-image: url("https://pro2-bar-s3-cdn-cf.myportfolio.com/5ab7906a-7d8f-4cfe-bb45-98796fe4af7f/189f8caa-d328-48e1-9537-807f9e5253a0_rwc_12x0x1905x1080x4096.png?h=be3472dfee8823445c969306d9e5f335");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: space-evenly;
}
nav {
	font-family: montserrat;
	display: flex;
	justify-content: space-evenly;
	flex: 1;
}
nav .logopic {
	justify-self: flex-start;
	margin-top: auto;
	margin-bottom: auto;
	max-width: 25%;
	padding: auto;
}

nav h1 {
	max-width: 25%;
	border-radius: 50px;
	margin: auto;
	padding: 15px;
	text-align: center;
	color: white;
}	

nav .navlist {
	display: flex;
	list-style: none;
	font-family: montserrat;
	font-size: 16px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	flex-wrap: wrap;
	flex: 1	;
}

nav ul li {
	display: flex;
	flex: 1;
	align-items: center;
	
}

nav ul li a {
	display: inline-flex;
	flex:1;
	background-color: rgba(22, 14, 65, 0.836);
	color: rgb(255, 255, 255);
	min-width: 190px;
	justify-content: center;
	margin: 20px 5px 10px 5px;
	border: 1px floralwhite solid;
	border-radius: 50px;
	padding: 10px;
	flex-wrap: nowrap;
	text-align: center;

}

nav ul li a:hover{
	color: rgb(0, 0, 0);
	background-color: rgb(94, 185, 238);
}
	

.mainblock h2  {
	padding: 10px;
	display: block;
	color: rgb(255, 255, 255);
	text-align: center;
	font-family: 'montserrat';
	font-size: 26px;
	font-weight: 800;
}
.block1 p {
	text-align: center;
	margin: 25px;
	padding: 30px;
	background-color: rgba(48, 45, 45, 0.959);
	border-radius:  40px;
	color: rgb(224, 224, 224);
	font-size: 1.1em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}

.cards {
	max-width: 80%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	flex-wrap: wrap;
 }

.card {
	
	border: 2px solid transparent;
	border-image: linear-gradient(to bottom, red , yellow);
	border-image-slice: 1;
	max-width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin: auto;
	margin-bottom: 40px;
	max-height: 100%;

	}
  
  /* On mouse-over */
.card:hover {
	
	transform: scaleZ(3) scale(120%) ;	
	box-shadow: 0 8px 16px 0 rgba(218, 212, 212, 0.2);
  	}
  
  /* the text inside the card*/
.container {
	font-family: Montserrat;
	color: white;
	text-align: center;
	font-size: 2em;;
	padding: 2px 16px;
 	 }
.section2 {
	
	width: 100%;
}
.section2 .container {
	color: black;
}
.emotes {
		padding: auto;
		padding-top: 0px;
		background-color: #fff;
		max-width: 90%;
		display: flex;
		margin: auto;
		justify-content: space-between;
		flex-wrap: wrap;	
	 }
.emotes:last-child {
	margin-bottom: 100px;
}

.emotecard {
			max-width: 100%;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			transition: 0.3s;
			margin: auto;
			margin-bottom: 40px;
			max-height: 100%;
			padding: 5px;
}



.emotecard:hover {
	
	transform: scaleZ(3) scale(110%) ;	
	box-shadow: 5px 8px 16px 5px rgba(15, 15, 15, 0.89);
  	transition: 1.2s;
}

footer {
	display: inline-flex;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
  }


.footerbanner {
	font-family: montserrat;
	display: flex;
	justify-content: space-evenly;
	flex: 1;
}



footer .footerbanner ul {
	display: flex;
	list-style: none;
	font-family: montserrat;
	font-size: 16px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	flex-wrap: wrap;
	flex: 1	;
}


footer ul li {
	display: flex;
	flex: 1;
	align-items: center;
	
}

footer ul li a {
	display: inline-flex;
	flex:1;
	background-color: rgba(22, 14, 65, 0.836);
	color: rgb(255, 255, 255);
	min-width: 220px;
	justify-content: center;
	margin: 0px 5px 2px 5px;
	border: 1px floralwhite solid;
	border-radius: 30px;
	padding: 5px;
	flex-wrap: nowrap;
	text-align: center;
}

footer ul li a:hover{
	color: rgb(0, 0, 0);
	background-color: rgb(94, 185, 238);
}


